@font-face {
    font-family: "Airbnb Cereal App";
    src: url("../font/AirbnbCereal-Light.ttf");
}

body {
    background-image: url("../image/projects.png");
    background-size: auto;
    font-family: "Airbnb Cereal App";

}

.navbar {
    /*position: fixed; !* Set the navbar to fixed position *!*/

    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar-toggler {
    /*position: fixed;*/

}

nav .navbar-nav li a{
    color: coral;
}

/* Change background on mouse-over */
.navbar a:hover {
    color: black;
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: 1s;
    border-color: #FA5653;

}
